# Dependencies
node_modules/

# Builds
dist/
build/
coverage/

# Env
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.DS_Store

# Data
server/data/**/*.csv
server/data/**/*.json
!server/data/.gitkeep
!server/data/measurements/.gitkeep
